<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Liste des utilisateurs</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="background-color: rgba(218, 218, 218, 0.705);">
        <% include ../base/nav %>
        <h1 class="text-center">Utilisateurs enregistrés</h1>
        <div class="row justify-content-center align-items-center">
            <table class="table table-hover col-md-9">
                <tr class="table-active">
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Code postal</th>
                    <th scope="col">Mot de passe</th>
                    <th scope="col">Editer</th>
                    <th scope="col">Supprimer</th>
                </tr>
                <% for(var i=0; i < users.length; i++) { %>
                <tr class="table-light">
                    <td scope="col"><%= users[i].name %></td>
                    <td scope="col"><%= users[i].forename %></td>
                    <td scope="col"><%= users[i].city %></td>
                    <td scope="col"><%= users[i].zipcode %></td>
                    <td scope="col"><%= users[i].password %></td>
                    <td scope="col">
                        <form method="post" action="useredit">
                            <input name="userId" type="hidden" value="<%= users[i].id %>">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                    <td scope="col">
                        <form method="post">
                            <input name="deletedName" type="hidden" value="<%= users[i].name %>">
                            <button type="submit">Delete</button>
                        </form></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </body>
</html>