<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Formulaire d'édition</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color: rgba(218, 218, 218, 0.705);">
    <% include ../base/nav %>
    <h1 style="text-align: center;">Modifier un utilisateur</h1>
    <div class="row justify-content-center align-items-center">
        <form class="col-md-3" method="post" action="editeduser">
            <legend>Modification</legend>
            <fieldset>
                <div class="form-group">
                    <label for="text">Nom : </label>
                    <input name="name" id="name" type="text" class="form-control" value="<%= user.name %>" required>
                </div>
                <div class="form-group">
                    <label for="forename">Prénom : </label>
                    <input name="forename" id="forename" type="text" class="form-control" value="<%= user.forename %>" required>
                </div>
                <div class="form-group">
                    <label for="city">Ville : </label>
                    <input name="city" id="city" type="text" class="form-control" value="<%= user.city %>" required>
                </div>
                <div class="form-group">
                    <label for="zipcode">Code postal : </label>
                    <input name="zipcode" pattern="[0-9]{5}" title="Doit contenir 5 chiffres" id="zipcode" type="text" class="form-control" value="<%= user.zipcode %>" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe : </label>
                    <input name="password" title="Doit contenir au moins une minuscule, une majuscule, un chiffre, un caractère spécial (6 caractères minimum)" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W).{6,}$" id="password" type="password" class="form-control" value="<%= user.password %>" required>
                </div>
                <div class="form-group">
                    <input id="id" type="hidden" class="form-control" name="id" value="<%= user.id %>">
                </div>
                <button type="submit">Valider</button>
            </fieldset>
        </form>
    </div>
</body>

</html>