<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Validation</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="background-color: rgba(218, 218, 218, 0.705);">
        <% include ../base/nav %>
        <h1 class="text-center">Confirmé !</h1>
        <p class="text-center">L'inscription a bien été enregistrée.</p>
    </body>
</html>